.encounter_title {
    font-size:larger;
    font-style: oblique;
}

.output {
    margin-top:0.5em;
}

.table_text {
    font-weight: bold;
    font-size:larger;
    font-style: oblique;
}

.table_title {
    padding 0.5em;
    margin-bottom:0;
    margin-top:0.15em;
}

.table_button {
    font-size:medium;
    border-radius: 1em;
    border: 2px solid;
    padding: 0.4em;
    margin: 0.1em;
    margin-right:0.4em;
}

.table_container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: wrap;
}

.legal {
    font-size: x-small;
    margin-top: 1em;
}
