.table_button {
    font-size:large;
    border-radius: 25px;
    border: 2px solid;
    padding: 15px;
    margin: 10px;
    width: 200px;
}

.table_container {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: wrap;
}
