{{outlet}}

<div class="legal">
The Cyclopean Deep's Random Encounter generator uses material from the 2014 commercial release of Cyclopean Deeps Gate by Frog God Games. The Cyclopean Deeps Random Encounter generator operates under the terms and conditions of the Open Gaming License. Permission for use of product identity as expressly granted by Frog God Games for use in Cyclopean Deeps Random Encounter generator and may not be reused for any other purpose without express written consent. Cyclopean Deeps, Swords & Wizardry and the Frog God Games logo are all copyright © 2014 Frog God Games. All rights reserved.
The Cyclopean Deeps Random Encounter generator is copyright Greg Farrell 2018. All rights reserved.
</div>

